stages:
  - test
  - build

variables: 
  IMAGE_NAME: atoms-blazor
  IMAGE_TAG: $CI_COMMIT_SHA
  DO_IMAGE: registry.digitalocean.com/$DO_REGISTRY/$IMAGE_NAME:$IMAGE_TAG

workflow:
  rules:
    - if: $CI_COMMIT_BRANCH == "master"
    - if: $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "master"

# Run unit tests first
test:
  stage: test
  image: mcr.microsoft.com/dotnet/sdk:10.0
  before_script:
    - dotnet restore Atoms.sln
  script:
    - dotnet test --solution Atoms.sln --verbosity normal --configuration Release

# Build and publish Docker image only if tests succeed
build:
  stage: build
  image: docker:latest
  services:
    - docker:dind
  before_script:
    # Install doctl
    - apk add --no-cache curl tar
    - curl -sL https://github.com/digitalocean/doctl/releases/download/v1.148.0/doctl-1.148.0-linux-amd64.tar.gz -o doctl.tar.gz
    - tar -xzf doctl.tar.gz
    - mv doctl /usr/local/bin/
    # Authenticate with DigitalOcean using your access token
    - doctl auth init -t "$DO_ACCESS_TOKEN"
    # Login to DOCR (injects Docker credentials)
    - doctl registry login
  script:
    # Build image
    - docker build -t $DO_IMAGE .
    # Push directly to DOCR
    - docker push $DO_IMAGE
