.account form {
    gap: 1rem;
    margin: 2rem;
}

.account #Input\.RememberMe {
    margin: 0px;
}

.account .submit-group {
    justify-self: center;
}

.account button {
    font-size: 18pt;
    line-height: 1;
    padding: 10px;
    background-color: black;
    color: white;
    border: 2px solid;
    border-color: #88a #224 #224 #88a;
}

.account .form-links {
    display: grid;
    grid-column: 1 / span 2;
    justify-self: left;
}

.account form > .form-links > p {
    margin: 5px 0px 5px 0px;
}
