<!DOCTYPE html>
<html lang="en" class="game">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=520, height=620">
    <base href="/" />
    <link rel="stylesheet" href="@Assets["css/game.css"]" />
    <link rel="stylesheet" href="@Assets["css/account.css"]" />
    <link rel="stylesheet" href="Atoms.Web.styles.css" />
    <link rel="shortcut icon" href="@Assets["images/favicon.png"]">
    <title>Atoms</title>
    <HeadOutlet @rendermode="RenderMode" />
</head>

<body>
    <Routes @rendermode="RenderMode" />
    <script src="_framework/blazor.web.js"></script>
    <script src="@Assets["js/app.js"]"></script> 
</body>

</html>

@code {
    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    private IComponentRenderMode? RenderMode =>
        HttpContext.AcceptsInteractiveRouting() 
            ? new InteractiveServerRenderMode(prerender: false) 
            : null;
}
