<!DOCTYPE html>
<html lang="en" class="game">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=520, height=620">
    <base href="/" />
    <link rel="stylesheet" href="./css/game.css" />
    <link rel="stylesheet" href="Atoms.Web.styles.css" />
    <link rel="shortcut icon" href="./images/favicon.png">
    <title>Atoms</title>
    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body>
    <Routes @rendermode="InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
