@inherits BoardComponent

<div id="status">

</div>
<div id="board">
    @foreach (var cell in Game.Board.Cells)
    {
        <Cell Data="@cell" OnCellClicked="@CellClicked" />
    }
</div>
<div id="playerList">
    @foreach (var player in Game.Players)
    {
        <div class="player @($"{player.ClassName} {player.ActiveClassName}")"></div>
    }
</div>