@inherits BoardComponent

<div id="status">

</div>
<div id="board">
    @foreach (var cell in Game.Board.Cells)
    {
        <Cell Data="@cell" />
    }
</div>
<div id="playerList">
    @foreach (var player in Game.Players)
    {
        <div class="player @($"player{player.Number - 1} {(player.IsActive ? "active" : "")}")"></div>
    }
</div>