@inherits UserNameComponent

<div>
    <section>
        <EditForm Model="Input"
                  OnValidSubmit=@OnValidSubmit
                  FormName="UserNameForm">
            <FluentValidator />
            <FluentStack Orientation=@Orientation.Vertical VerticalGap="20">
                <div class="input-group">
                    <FluentTextField Name="Input.Name"
                                     @bind-Value=@Input.Name
                                     Label="Name"
                                     Required
                                     Autofocus
                                     Placeholder="Please enter your name"
                                     Maxlength="25"
                                     AutoComplete="name"
                                     Style="width: 100%;" />
                    <FluentValidationMessage For="@(() => Input.Name)" />
                </div>
                <div class="input-group center-align">
                    <button type="submit" class="input-button">Submit</button>
                </div>
            </FluentStack>
        </EditForm>
    </section>
</div>