@inherits HomePageComponent
@page "/"

<Menu OnCreateGame="@OnCreateGame" />

<footer>
    <div class="image-row">
        <a href="https://www.flaticon.com/free-icons/duplicate" title="duplicate icons" target="_blank">Duplicate icons created by Saepul Nahwan - Flaticon</a>
        <a href="https://www.flaticon.com/free-icons/whatsapp" title="whatsapp icons" target="_blank">Whatsapp icons created by riajulislam - Flaticon</a>
    </div>
</footer>
