@inherits InvitePageComponent

@page "/invites/{code}"

<PageTitle>Invite</PageTitle>

<h2>Invite</h2>

@if (!string.IsNullOrEmpty(ErrorMessage))
{
    <div>Error: @ErrorMessage</div>
}

@if (ShowForm)
{
    <div>
        <section>
            <EditForm Model="Input" OnValidSubmit="AcceptInvite">
                <DataAnnotationsValidator />
                <ValidationSummary role="alert" />
                <div class="input-form">
                    <div class="input-group">
                        <label for="Input.Name">Name</label>
                        <InputText @ref="InputName" @bind-Value="Input.Name" autocomplete="name" aria-required="true" placeholder="Please enter your name" maxlength="25" />
                    </div>
                    <div class="submit-group">
                        <button type="submit">Submit</button>
                    </div>
                </div>
            </EditForm>
        </section>
    </div>
}
