@inherits InvitePageComponent
@page "/invites/{code}"
@attribute [ExcludeFromInteractiveRouting]

<PageTitle>Invite</PageTitle>

<h2>Invite</h2>

@if (!string.IsNullOrEmpty(ErrorMessage))
{
    <div class="invite-error">Error: @ErrorMessage</div>
}

@if (ShowForm)
{
    <div>
        <section>
            <UserName OnValid="AcceptInvite" />
        </section>
    </div>
}
