@inherits LayoutComponentBase

<audio src="./music/atoms-intro.mp3" id="music-intro" preload="auto"></audio>
<audio src="./music/atoms.mp3" id="music" preload="auto" loop></audio>

<FluentDesignTheme StorageName="theme" Mode="DesignThemeModes.Dark" />

<div class="container">
    <div>
        <NavMenu />
    </div>
    <h1><img src="./images/logo.svg" alt="atoms"></h1>

    @Body

    <div id="blazor-error-ui">
        An unhandled error has occurred.
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>
</div>
