@inherits LayoutComponentBase

<div>
    <h1><img src="./images/logo.svg" alt="atoms"></h1>

    @Body

    <div id="blazor-error-ui">
        An unhandled error has occurred.
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>
</div>
