@inherits NavMenuComponent

<div id="auth-container">
    <span class="link-home"><NavLink href="/">Home</NavLink></span>
    <span><NavLink href="/games">Games</NavLink></span>
    @if (!string.IsNullOrEmpty(UserName))
    {
        <span class="push"></span>
        <span>
            <NavLink href="/username">@UserName</NavLink>
        </span>
    }
</div>
