#auth-container {
    display: flex;
}

.push {
    margin: auto;
}

.logout-button {
    display: inline;
    padding: 0;
    border: 0;
    font: inherit;
    text-decoration: underline;
    cursor: pointer;
    background: transparent;
    color: #bbf;
    -webkit-appearance: none;
}
