@inherits NavMenuComponent

<div id="auth-container">
    <NavLink href="/">Home</NavLink>
    @if (!string.IsNullOrEmpty(UserName))
    {
        <span class="push"></span>
        <span>@UserName</span>
    }
</div>
