@inherits ForgotPasswordComponent

@page "/Account/ForgotPassword"

<PageTitle>Forgot your password?</PageTitle>

<h2>Forgot your password?</h2>
<h3>Enter your email.</h3>
<hr />
<div class="account">
    <section>
        <EditForm Model="Input" method="post" OnValidSubmit="OnValidSubmit" FormName="forgot-password">
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert" />
            <FluentStack Orientation=@Orientation.Vertical VerticalGap=20>
                <div class="input-group">
                    <FluentTextField Name="Input.Email"
                                     TextFieldType=@TextFieldType.Email
                                     @bind-Value=@Input.Email
                                     Label="Email"
                                     Required
                                     Autofocus
                                     Placeholder="name@example.com"
                                     Maxlength=256
                                     AutoComplete="username"
                                     Style="width: 100%;" />
                    <FluentValidationMessage For="@(() => Input.Email)" />
                </div>
                <div class="input-group center-align">
                    <button type="submit">Reset password</button>
                </div>
            </FluentStack>
        </EditForm>
    </section>
</div>
