@inherits LoginComponent

@page "/Account/Login"

<PageTitle>Log in</PageTitle>

<h2>Log in</h2>

<div class="account">
    <section>
        <StatusMessage Message="@ErrorMessage" />
        <EditForm Model="Input" method="post" OnValidSubmit="LoginUser" FormName="login">
            <DataAnnotationsValidator />
            <ValidationSummary role="alert" />
            <FluentStack Orientation=@Orientation.Vertical VerticalGap=20>
                <div class="input-group">
                    <FluentTextField Name="Input.Email"
                                     TextFieldType=@TextFieldType.Email
                                     @bind-Value=@Input.Email
                                     Label="Email"
                                     Required
                                     Autofocus
                                     Placeholder="name@example.com"
                                     Maxlength=256
                                     AutoComplete="username"
                                     Style="width: 100%;" />
                    <FluentValidationMessage For="@(() => Input.Email)" />
                </div>
                <div class="input-group">
                    <FluentTextField Name="Input.Password"
                                     TextFieldType=@TextFieldType.Password
                                     @bind-Value=@Input.Password
                                     Label="Password"
                                     Required
                                     Placeholder="password"
                                     Maxlength=100
                                     AutoComplete="current-password"
                                     Style="width: 100%;" />
                    <FluentValidationMessage For="@(() => Input.Password)" />
                </div>
                <div class="input-group">
                    <FluentCheckbox Name="Input.RememberMe"
                                   @bind-Value=@Input.RememberMe
                                    Label="Remember me" />
                </div>
                <div class="input-group center-align">
                    <button type="submit">Log in</button>
                </div>
                <div class="form-links">
                    <p>
                        <a href="Account/ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a href="@(NavigationManager.GetUriWithQueryParameters("Account/Register", new Dictionary<string, object?> { ["ReturnUrl"] = ReturnUrl }))">Register as a new user</a>
                    </p>
                    <p>
                        <a href="Account/ResendEmailConfirmation">Resend email confirmation</a>
                    </p>
                </div>
            </FluentStack>
        </EditForm>
    </section>
</div>
