@inherits ResetPasswordComponent

@page "/Account/ResetPassword"

<PageTitle>Reset password</PageTitle>

<h2>Reset password</h2>
<h3>Reset your password.</h3>
<hr />

<div class="account">
    <section>
        <StatusMessage Message="@Message" />
        <EditForm Model="Input" method="post" OnValidSubmit="OnValidSubmit" FormName="reset-password">
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert" />

            <input type="hidden" name="Input.Code" value="@Input.Code" />
            <div class="input-group">
                <label for="Input.Email">Email</label>
                <InputText @bind-Value="Input.Email" id="Input.Email" autocomplete="username" aria-required="true" placeholder="name@example.com" />
            </div>
            <div class="input-group">
                <label for="Input.Password">Password</label>
                <InputText type="password" @bind-Value="Input.Password" id="Input.Password" autocomplete="new-password" aria-required="true" placeholder="Please enter your password." />
            </div>
            <div class="input-group">
                <label for="Input.ConfirmPassword">Confirm Password</label>
                <InputText type="password" @bind-Value="Input.ConfirmPassword" id="Input.Password" autocomplete="new-password" aria-required="true" placeholder="Please confirm your password." />
            </div>
            <div class="submit-group">
                <button type="submit">Reset</button>
            </div>
        </EditForm>
    </section>
</div>
